iframe#webpack-dev-server-client-overlay {
  display: none !important
}

.App {
  text-align: center;
  background-color: #f3f5fc;

  min-height: 100vh;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.chat-input-holder {
  padding: 24px;
  padding-top: 0px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;



  background-color: #f3f5fc;

}

.chat-input-textarea {
  width: 50%;
  border-radius: 5px;
  font-size: 1.25em;
  padding: 12px;
  outline: none;
}

.chat-log {
  padding-left: 20%;
  padding-right: 20%;


  text-align: left;
  background-color: #f3f5fc;


}

.chat-message {
  padding: 12px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  max-width: 100%;



}

.chat-message.chatgpt {
  padding: 12px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 20px;


}

.avatar {

  text-align: center;
  width: 44px;
  height: 44px;



}

.avatar.chatgpt {

  width: 44px;
  height: 44px;


}

.message {
  padding-left: 40px;
  padding-right: 40px;
  width: 90%;
  margin-left: 10px;


}

.submit-button {
  height: 3rem;
  width: 10%;
  margin-left: 7px;
  background-color: #1976d2;
  color: white;
  border-radius: 5%;


}

.space {
  background-color: #f3f5fc;


  height: 150px;

}

.RagWrapper {
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  text-align: justify;
  padding: 20px;
  margin-left: 27%;
  max-width: 45%;
  margin-top: 1%;
  background-color: #ffffff;
  /* white-space: pre-wrap; */

}


.ReactCollapse--collapse {

  width: 100%;
  border: 1px solid #eeeeee;
  text-align: left;
  background-color: #ffffff;
  transition: height 500ms;
}

.ReactCollapse--content {
  padding: 15px;
  align-content: start;
  overflow-x: scroll;
}

.RagContextWrapper {

  width: 98%;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.type-wrap {
  border: 1px solid black;

  height: 45vh;
  overflow-y: hidden;


  color: #16334b;

  text-align: start;

  padding: 2rem;

  border-radius: 5%;
}

.RagText {
  max-width: 95%;
  padding: 15px;
}

.HomeButton {
  border: 1px solid black;
  background-color: white;
  height: 2rem;
  width: 5rem;
  border-radius: 5%;
  font-size: 1rem;
  margin-left: 20%;
}

.HomeButton:hover {
  background-color: #282c34;
  color: white;
  cursor: pointer;

}

.addDiv2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
}

.addDiv1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75ch;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.addElement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: left;

}

.addTextField {
  background-color: #ffffff;
  margin-top: 0.5rem;
}